$green: #0a6f50;
$secondGreen: #2c945e;
// $secondGreen: rgb(12, 125, 80);
$lightGreen: #8ad0bb;
$blue: #309ad8;
$red: #91172a;
$secondRed: #ae2c40;

// ========================== Dark Mode
// Background

$mainBgDark: #232323;
$subBgDark: #292929;
$hoverBgDark: #343434;
// Font
$mainFontDark: #cecece;
$secondFontDark: #919191;
$onFocusFontDark: #fff;
// Other
$offDark: #646464;
$lineColorDark: #454545;
// Scroll:
$scrollTrackDark: #343434;
$scrollThumbDark: #cecece;

// ========================== Light Mode
// Background

$mainBgLight: #f0f0f0;
$subBgLight: #ebeaea;
$hoverBgLight: #d8d8d8;
// Font
$mainFontLight: #232323;
$secondFontLight: #424242;
$onFocusFontLight: #000;
// Other
$offLight: #7a7a7a;
$lineColorLight: #b1b1b1;
// Scroll:
$scrollTrackLight: #dfdfdf;
$scrollThumbLight: #818181;
