$green: #0a6f50;
$lightGreen: #8ad0bb;

// ========================== Dark Mode
// Background

$mainBgDark: #232323;
$subBgDark: #292929;
$hoverBgDark: #343434;
// Font
$mainFontDark: #cecece;
$onFocusFontDark: #fff;
// Other
$offDark: #646464;
$lineColorDark: #454545;
// Scroll:
$scrollTrackDark: #343434;
$scrollThumbDark: #cecece;

// ========================== Light Mode
// Background

$mainBgLight: #cecece;
$subBgLight: #292929;
$hoverBgLight: #343434;
// Font
$mainFontLight: #232323;
$onFocusFontLight: #fff;
// Other
$offLight: #646464;
$lineColorLight: #454545;
// Scroll:
$scrollTrackLight: #343434;
$scrollThumbLight: #cecece;
