@use '../../abstracts';
// Default styles for icon-btn. Padding and positioning are defined in parent element .scss file. 
.icon-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: abstracts.$borderRadius;
	text-decoration: none;
	z-index: 0;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: abstracts.$borderRadius;
		transition: opacity abstracts.$colorTransitionTime;
		opacity: 0;
		z-index: -1;
	}
	&:hover::before {
		opacity: 1;
	}
}

// THEMES
.nav--dark,
.main-content--dark {
	.icon-btn {
		color: abstracts.$mainFontDark;
		svg {
			fill: abstracts.$mainFontDark;
		}
		&::before {
			background-color: abstracts.$hoverBgDark;
		}
	}
}
.nav--light,
.main-content--light {
	.icon-btn {
		color: abstracts.$mainFontLight;
		svg {
			fill: abstracts.$mainFontLight;
		}
		&::before {
			background-color: abstracts.$hoverBgLight;
		}
	}
}
