@use '../abstracts';


.category-section {
	margin-top: abstracts.$navHeight;
	padding: 2rem;
	max-height: calc(100vh - abstracts.$navHeight);
	overflow-y: scroll;
	// CUSTOM SCROLLBAR FOR MOZILLA
	scrollbar-width: thin;
	// CUSTOM SCROLLBAR FOR CHROMIUM BROWSERS
	&::-webkit-scrollbar {
		width: 5px;
	}
	&__title {
		margin-bottom: 2rem;
		color: abstracts.$green;
		font-family: 'Inter', sans-serif;
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
		gap: 2rem;
	}

}
.category-section--dark {
	background-color: abstracts.$mainBgDark;
	// CUSTOM SCROLLBAR FOR MOZILLA
	scrollbar-color: abstracts.$scrollThumbDark abstracts.$scrollTrackDark;
	// CUSTOM SCROLLBAR FOR CHROMIUM BROWSERS
	&::-webkit-scrollbar-thumb {
		background-color: abstracts.$scrollThumbDark;
	}
	&::-webkit-scrollbar-track {
		background-color: abstracts.$scrollTrackDark;
	}
}
.category-section--light {
	background-color: abstracts.$mainBgLight;
	// CUSTOM SCROLLBAR FOR MOZILLA
	scrollbar-color: abstracts.$scrollThumbLight abstracts.$scrollTrackLight;
	// CUSTOM SCROLLBAR FOR CHROMIUM BROWSERS
	&::-webkit-scrollbar-thumb {
		background-color: abstracts.$scrollThumbLight;
	}
	&::-webkit-scrollbar-track {
		background-color: abstracts.$scrollTrackLight;
	}
}
.category-section--frozen {
	overflow-y: hidden;
}

@media (min-width: 576px) {
	.category-section__cards {
		grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
	}
}

@media (min-width: 768px) {
	.category-section__cards {
		grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	}
}

@media (min-width: 1400px) {
	.category-section__cards {
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	}
}
