@use '../abstracts';
.category-page {
	&__title {
		margin-bottom: 2rem;
		color: abstracts.$green;
		font-family: 'Inter', sans-serif;
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
		gap: 2rem;
	}
}

@media (min-width: 576px) {
	.category-page__cards {
		grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
	}
}

@media (min-width: 768px) {
	.category-page__cards {
		grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	}
}

@media (min-width: 1400px) {
	.category-page__cards {
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	}
}
