@use '../abstracts';
.small-icon {
	width: 2rem;
	height: 2rem;
}

.regular-icon {
	width: 4rem;
	height: 4rem;
}

.alert-icon {
	width: 3.5rem;
	height: 3.5rem;
}

.error {
	fill: abstracts.$red;
}

.success {
	fill: rgb(12, 125, 80);
}

.information {
	fill: rgb(48 154 216);
}
