@use '../abstracts';
.searchbar {
	.searchbar-input {
		padding-inline: 1rem;
		max-width: 350px;
		border-radius: abstracts.$borderRadius;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		background-color: transparent;
		font-size: 1.6rem;
		&:focus,
		&:focus ~ .nav__searchbar-btn {
			outline: none;
		}
	}
	.searchbar-btn {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: none;
		svg {
			width: 2.5rem;
			height: 2.5rem;
		}
		&::before {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
.nav {
	.searchbar {
		padding: 1rem;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		transform: translateY(-100%);
		transition: transform 0.2s;
		&-input {
			margin-block: 0.8rem;
			margin-left: auto;
			width: 60%;
		}
		&-btn {
			margin-block: 0.8rem;
		}
	}
	.searchbar--visible {
		transform: translateY(0);
	}
}
.channel {
	.searchbar {
		margin-block-start: 2rem;
		margin-inline: 2rem;
		display: none;
		align-items: stretch;
		max-height: 4.5rem;
		&-input {
			width: 80%;
		}
		&-btn {
			padding: 1rem 2rem;
		}
	}
	.searchbar--visible {
		display: flex;
	}
}
.main-content--dark,
.nav--dark {
	.searchbar {
		background-color: abstracts.$mainBgDark;
		&-input {
			border: 1px solid abstracts.$offDark;
			color: abstracts.$offDark;
			&::placeholder {
				color: abstracts.$offDark;
			}
			&:focus,
			&:focus ~ .searchbar-btn {
				outline: none;
				border: 1px solid abstracts.$mainFontDark;
				color: abstracts.$mainFontDark;
				svg {
					fill: abstracts.$mainFontDark;
				}
			}
		}
		&-btn {
			border: 1px solid abstracts.$offDark;
			svg {
				fill: abstracts.$offDark;
			}
		}
	}
}

.main-content--light,
.nav--light {
	.searchbar {
		background-color: abstracts.$mainBgLight;
		&-input {
			border: 1px solid abstracts.$offLight;
			color: abstracts.$offLight;
			&::placeholder {
				color: abstracts.$offLight;
			}
			&:focus,
			&:focus ~ .searchbar-btn {
				outline: none;
				border: 1px solid abstracts.$onFocusFontLight;
				color: abstracts.$onFocusFontLight;
				svg {
					fill: abstracts.$onFocusFontLight;
				}
			}
		}
		&-btn {
			border: 1px solid abstracts.$offLight;
			svg {
				fill: abstracts.$offLight;
			}
		}
	}
}

@media (min-width: 768px) {
	.nav {
		.searchbar {
			margin-right: 2rem;
			padding: unset;
			position: unset;
			order: 3;
			background-color: transparent;
			transform: translateY(0);
			&-input {
				padding-inline: 1em;
				margin-left: auto;
				width: 60%;
				max-height: 4rem;
				border-radius: abstracts.$borderRadius;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				background-color: transparent;
				font-size: 1.6rem;
			}
			&-btn {
				max-height: 4rem;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left: none;
				svg {
					width: 2.5rem;
					height: 2.5rem;
				}
			}
			.close-searchbar {
				display: none;
			}
		}
	}
}
