@use '../abstracts';
.badge {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background-color: abstracts.$green;
	fill: abstracts.$mainFontDark;
	z-index: 0;
	svg {
		width: 0.8rem;
		height: 0.8rem;
		pointer-events: none;
	}
	&::after {
		content: 'Channel Verified';
		padding: 1rem 2rem;
		position: absolute;
		top: -5rem;
		left: 50%;
		transform: translateX(-50%);
		width: 200px;
		background-color: abstracts.$hoverBgDark;
		border: 1px solid abstracts.$secondFontDark;
		border-radius: abstracts.$borderRadius;
		color: abstracts.$mainFontDark;
		text-align: center;
		cursor: pointer;
		transition: opacity abstracts.$colorTransitionTime;
		opacity: 0;
		pointer-events: none;
		z-index: 100;
	}
	&:hover::after {
		opacity: 1;
	}
}
