@use '../abstracts';

.home-page__cards,
.search-results,
.video__recommendations {
	.video-card {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		max-width: 1000px;
		&__thumbnail {
			aspect-ratio: 16/9;
			background-size: cover;
			background-position: center;
			// border-radius: abstracts.$cardRadius;
		}
		&__info {
			margin-top: 1rem;
			padding-inline: 1rem;
			display: flex;
			flex-wrap: wrap;
		}
		&__channel-avatar {
			grid-column: 1/2;
			grid-row: 1/2;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			background-size: contain;
			background-position: center;
		}
		&__title {
			margin-left: 1rem;
			width: calc(100% - 5rem);
			max-height: 4rem;
			font-weight: 500;
			overflow: hidden;
		}
		&__channel-name {
			margin-top: 1rem;
			position: relative;
			font-size: 1.4rem;
		}
		&__details {
			margin-top: 1rem;
			padding-left: 3rem;
			margin-left: auto;
			font-size: 1.3rem;
		}
	}
}

// THEMES
.main-content--dark {
	.home-page__cards,
	.search-results,
	.video__recommendations {
		.video-card {
			&__thumbnail {
				background-color: abstracts.$hoverBgDark;
			}
			&__title {
				color: abstracts.$mainFontDark;
			}
			&__channel-name,
			&__details {
				color: abstracts.$secondFontDark;
			}
		}
	}
	.search-results {
		&__thumbnail {
			background-color: abstracts.$hoverBgDark;
		}
		&__title {
			color: abstracts.$mainFontDark;
		}
	}
}
.main-content--light {
	.home-page__cards,
	.video__recommendations {
		.video-card {
			&__thumbnail {
				background-color: abstracts.$hoverBgLight;
			}
			&__title {
				color: abstracts.$mainFontLight;
			}
			&__channel-name,
			&__details {
				color: abstracts.$secondFontLight;
			}
		}
	}
}

@media (min-width: 576px) {
	.search-results,
	.video__recommendations {
		.video-card {
			flex-direction: row;
			&__thumbnail {
				min-width: 275px;
				border-radius: abstracts.$cardRadius;
			}
			&__info {
				margin-block-start: unset;
				padding-inline: 1rem 0;
				display: flex;
				align-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				flex-direction: row;
			}
			&__channel-avatar {
				margin-block-start: 1rem;
				order: 3;
				width: 2.4rem;
				height: 2.4rem;
			}
			&__title {
				margin-left: unset;
				order: 1;
				width: 100%;
			}
			&__channel-name {
				margin-left: 1rem;
				margin-top: 1rem;
				order: 4;
			}
			&__details {
				padding-left: unset;
				margin-left: unset;
				margin-top: 0.3rem;
				order: 2;
				width: 100%;
				text-align: left;
			}
		}
	}
}

@media (min-width: 992px) {
	.video__recommendations {
		.video-card {
			flex-direction: column;
			max-width: 330px;
			&__thumbnail {
				min-width: unset;
			}
			&__info {
				margin-block-start: 1rem;
				padding-inline: 0;
			}
		}
	}
}
