$green: #0a6f50;
$lightGreen: #8ad0bb;

// ========================== Dark Mode
// Background
$mainBg: #232323;
$subBg: #292929;
$hoverBg: #343434;
// Font
$mainFont: #cecece;
$onFocusFont: #fff;
// Other
$off: #646464;
$lineColor: #454545;
// Scroll:
$scrollTrack: #343434;
$scrollThumb: #cecece;

// ========================== Light Mode
// Background
// Font
// Other
// Scroll:
