@use 'abstracts';
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background-color: transparent;
	svg {
		pointer-events: none;
	}
}

input {
	border: none;
}
label,
button,
input,
a {
	cursor: pointer;
}

div,
section,
p,
span,
button,
form,
textarea,
input,
h1,
h2,
h4 {
	font-family: 'Inter', sans-serif;
}
